<div>
  <a routerLink="/admin/products">
    <button class="btn btn-primary">Quay lại</button>
  </a>
</div>
<div>
  <div>ID SP: {{product._id}}</div>
  <div>Tên SP: {{product.name}}</div>
  <div>Gía: {{product.price}}</div>
  <div>Anh SP: <img src={{product.img}} alt="" width="200" height="200"></div>
  <div>Trạng thái SP: {{product.status}}</div>
  <div>
    <input
      type="number"
      min="1"
      [value]="cartItemValue"
      (input)="onInputValueChange($event)"
    />
    <button (click)="onAddToCart()">Thêm vào giỏ hàng</button>
  </div>
</div>