<div class="container">
  <h1 (Click)="clickH1">DS Giáo Viên {{schoolName}}</h1>
  <div>
    <div>
      <form action="">
        <input type="text" (keydown)="changeInput($event)" [value]="inputValue">
        <button>{{inputValue}}</button> 
      </form>
    </div>
    <div>
      <p>Form đăng kí thông tin giảng viên</p>
      <form action="">
          <div>
            <label for="">Tên GV</label>
            <input type="text" 
            class="form-control"
            (input)="onInput($event, 'name')"
            >
          </div>
          <div>
            <label for="">Tuổi GV</label>
            <input type="number"
            class="form-control"
            (input)="onInput($event, 'age')"
            >
          </div>
          <div>
            <button type="button" (click)="onSubmit()" class="btn btn-success">Submit</button>
          </div>
      </form>
    </div>
    <div>
    <button
  class="btn btn-info"
  (click)="changeTableStatus()"
  >{{showStatus ? 'Ẩn' : 'Hiện'}} bảng teacher</button>
</div>
    <app-table [users]= "teachers" *ngIf="showStatus"></app-table>
  </div>
    <div>
      Ten SV: <app-name [name]="studentName" class="color-red"></app-name>
      MSV: <app-identity [id]="studentId" class="color-blue"></app-identity>
    </div>
  </div>